In [103]:
import pandas as pd
import numpy as np

In [104]:
rapido_df=pd.read_csv("C:/Users/Sampoorna/Desktop/ct_rr.csv")

In [30]:
rapido_df[rapido_df['number']=='05408'].head()

                      ts number   pick_lat   pick_lng   drop_lat   drop_lng
2    2018-04-07 07:36:44  05408  12.899603  77.587300  12.934780  77.569950
4    2018-04-07 07:39:29  05408  12.899490  77.587270  12.934780  77.569950
5    2018-04-07 07:43:08  05408  12.899421  77.587326  12.934780  77.569950
187  2018-04-07 16:27:31  05408  12.934814  77.569860  12.899392  77.587204
198  2018-04-07 17:12:42  05408  12.934914  77.571030  12.899392  77.587204

In [60]:
from pyproj import Geod

In [61]:
wgs84_geod = Geod(ellps='WGS84')

In [62]:
#Get distance between pairs of lat-lon points
def Distance(pick_lat, pick_lng, drop_lat, drop_lng):
  az12,az21,dist = wgs84_geod.inv(pick_lng,pick_lat,drop_lng,drop_lat)
  return dist

In [64]:
rapido_df['dist'] = Distance(rapido_df['pick_lat'].tolist(),rapido_df['pick_lng'].tolist(),rapido_df['drop_lat'].tolist(),rapido_df['drop_lng'].tolist())

In [65]:
rapido_df.head()

,ts,number,pick_lat,pick_lng,drop_lat,drop_lng,dist
0,2018-04-07 07:07:17,14626,12.313621,76.658195,12.287301,76.602280,6743.467498
1,2018-04-07 07:32:27,85490,12.943947,77.560745,12.954014,77.543770,2152.432825
2,2018-04-07 07:36:44,05408,12.899603,77.587300,12.934780,77.569950,4323.169577
3,2018-04-07 07:38:00,58940,12.918229,77.607544,12.968971,77.636375,6426.463596
4,2018-04-07 07:39:29,05408,12.899490,77.587270,12.934780,77.569950,4333.013227

In [66]:
rapido_df['dist']=rapido_df['dist']/1000

In [67]:
rapido_df1=rapido_df[['number','ts']]

In [68]:
rapido_df1.head()

  number                   ts
0  14626  2018-04-07 07:07:17
1  85490  2018-04-07 07:32:27
2  05408  2018-04-07 07:36:44
3  58940  2018-04-07 07:38:00
4  05408  2018-04-07 07:39:29

In [101]:
rapido_df1['number1']=pd.to_numeric(rapido_df1['number'],errors='coerce')##.astype(str).astype(int)

C:\Users\Sampoorna\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
rapido_df1.isna().any()

number     False
ts         False
number1    False
dtype: bool

In [102]:
rapido_df1.dtypes

number      object
ts          object
number1    float64
dtype: object

In [75]:
rapido_df1=rapido_df1.sort_values('number')

TypeError: '<' not supported between instances of 'int' and 'str'

In [76]:
rapido_df1.dtypes

number    object
ts        object
dtype: object

In [38]:
rapido_df['ts'].max()

'2019-04-07 23:59:59'

In [42]:
rapido_df.dtypes

ts           object
number       object
pick_lat    float64
pick_lng    float64
drop_lat    float64
drop_lng    float64
dist        float64
dtype: object

In [43]:
##Extracting hours from date time

import time
from time import mktime
from datetime import datetime

In [53]:
rapido_df['ts']=str(rapido_df['ts'])

In [52]:
rapido_df.dtypes

ts           object
number       object
pick_lat    float64
pick_lng    float64
drop_lat    float64
drop_lng    float64
dist        float64
dtype: object

In [44]:
def getTimeCat(Datetime):
    # extract time categories
    str_time = datetime.strptime(Datetime, "%m/%j/%y %H:%M")
    ts = datetime.fromtimestamp(mktime(str_time))

In [47]:
rapido_df['ts_hour']= getTimeCat(rapido_df['ts'])

TypeError: strptime() argument 1 must be str, not Series

In [16]:
rapido_df1=rapido_df.groupby('number').filter(lambda x: len(x) == 1)

In [13]:
rapido_df1.head()

                       ts number   pick_lat   pick_lng   drop_lat  drop_lng
39    2018-04-07 09:22:03  58822  12.916799  77.596180  12.935941  77.57345
953   2018-04-07 08:24:07  61657  12.880351  77.637940  12.917470  77.62423
1095  2018-04-07 13:38:26  50272  12.945384  77.680504  12.962415  77.63503
1148  2018-04-07 16:07:13  73728  12.937033  77.548760  12.952197  77.53697
1430  2018-04-07 21:09:08  66053  12.310890  76.643980  12.321439  76.62075

In [14]:
rapido_df1.groupby('number').size()

number
72       1
112      1
122      1
139      1
150      1
        ..
99952    1
99954    1
99956    1
99961    1
99982    1
Length: 12002, dtype: int64